[user]
   name = Detchurrie Njinn
   email = detchurrie@gmail.com
[core]
   editor = vim
[init]
   defaultBranch = main
[alias]
   br = branch
   ch = checkout
   com = commit
   hist = log --all --graph --oneline
   history = log --all --graph --oneline
   stat = status
   sh = show -s
[merge]
   tool = vimdiff
